/* ***************************
    CSS General (mobile-first)
*************************** */

/* Estilos Básicos */
/* *************** */
*{
    box-sizing: border-box;
}



/* Tipografía */

html{
    font-family: sans-serif;
    font-size: 16px;
}

/* Colores */
.barraNav{
    background-color: #BFBFBF;
}

/* Enlaces */
a{
    color: #fff;
    text-decoration: none;
}


/* Botones */


/* Margenes */
.barraNav{
    padding: 0.5rem 1rem;
}


/* Tamaños */
.barraNav{
    height: 70px;
}

/* MAQUETACIÓN */
/* *********** */
.barraNav{
    display: flex;
    justify-content: space-between;
}
.barraNav__logo, nav{
    
}